body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Gris clair */
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

thead {
    background-color: #d3d3d3; /* Gris plus foncé */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Blanc */
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6; /* Gris clair */
}

tbody tr:hover {
    background-color: lightgray;
}

th:nth-child(2), td:nth-child(2) {
    width: 20%; /* Ajustement pour équilibrer la taille des colonnes */
}
